* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
}
.main {
  flex-wrap: 1;
  margin-top: 923px;
}
.container {
  max-width: 1940px;
  padding: 0 10px;
  margin: 0 auto;
}

.top-content {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
}

.logo-contain {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}

.boxes-contain {
  position: absolute;
  top: 234px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 766px;
}

.title-boxses {
  text-align: center;
  position: absolute;
  left: 0;
  top: 737px;
  right: 0;
  font-weight: 700;
  font-size: 42px;
  line-height: 49.22px;
  text-transform: uppercase;
}

.text-boxes {
  text-align: center;
  position: absolute;
  left: 0;
  top: 806px;
  right: 0;
  font-weight: 400;
  line-height: 23.44px;
  font-size: 20px;
}

.core-back-img {
  position: absolute;
  left: -44px;
  width: 1974px;
  height: 892px;
}

.left-layer {
  position: absolute;
  left: 0;
  top: -11px;
  width: 462px;
  mix-blend-mode: multiply;
}

.right-layer {
  position: absolute;
  right: -25px;
  width: 462px;
  top: -11px;
  mix-blend-mode: multiply;
}

.wom {
  position: absolute;
  top: 16px;
  width: 577px;
}

.man {
  position: absolute;
  top: 16px;
  left: 1218px;
  width: 678px;
}

.layer-down {
  position: absolute;
  top: 516px;
  mix-blend-mode: multiply;
  left: 10px;
  right: -20px;
}

.blue-glow {
  position: absolute;
  top: 724px;
  left: 0;
}

.glow {
  position: absolute;
  left: 0;
  right: 0;
  mix-blend-mode: screen;
}

/* //section1 */
.img-info {
  z-index: 2;
  display: flex;
  justify-content: center;
  gap: 55px;
  position: absolute;
  left: 0;
  right: 0;
}

.dog {
  margin-right: 160px;
}

.info {
  width: 632px;
}

.title_info {
  color: #416df4;
  font-weight: 700;
  font-size: 30px;
  line-height: 35.16px;
  text-transform: uppercase;
  margin-bottom: 35px;
  margin-top: 27px;
}

.names-info {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  margin-bottom: 9px;
}

.name-info {
  color: #671d00;
  border: 1px solid #671d00;
  font-size: 12px;
  line-height: 14.06px;
  padding: 3px 5px;
}

.item-set {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #671d00;
  margin: 1px 0;
}

.item-set-last {
  margin-bottom: 20px;
}

.img-inner-item_info {
  width: 64px;
  height: 64px;
  margin-right: 20px;
  font-size: 16px;
  line-height: 18.75px;
}

.name-inner-item-info {
  margin-right: 76px;
  width: 226px;
}

.value1 {
  margin-right: 121px;
  width: 27px;
}
.value2 {
  display: flex;
  justify-content: center;
  width: 72px;
}

.buy {
  display: flex;
}

.cost-btn {
  display: flex;

  align-items: end;
}
.cost-btn-inner {
  display: flex;
  flex-direction: column;
}

.back-section {
  position: absolute;

  margin-top: -30px;
}
.blue-glow-1 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1002px;
}
.ellipse {
  width: 680px;
  height: 680px;
  background-color: rgba(65, 109, 244, 1);
  opacity: 0.2;
  mix-blend-mode: lighten;
  position: absolute;
  left: 225px;
  top: 1105px;
  border-radius: 1000px;
}

.cost {
  font-weight: 400;
  font-size: 50px;
  line-height: 58.59px;
}

.get-it {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding: 7px 25px;
  background-color: rgba(252, 255, 0, 1);
  border-radius: 7px;
  color: black;
  margin-bottom: 60px;
}
